<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <title>Sébastien M</title>
  </head>
  <body>
    <noscript>
      <strong>JavaScript est nécessaire...</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
