<template>
  <n-space justify="center" size="medium" class="middle">  
    <div class="leftPanel">
      <n-icon-wrapper :size="55" :border-radius="50">
        <n-icon size="40"><ChatMail20Regular /></n-icon>
      </n-icon-wrapper>

      <n-h1>Vous êtes intéressé par mon profil, vous êtes curieux ou vous avez juste envie d'échanger ?</n-h1>
      <n-h2>Laissez moi un message !</n-h2>
    </div>

    <n-card class="rightPanel">
      <n-space vertical>
        <n-form ref="contactForm" :model="form" :rules="rules">
          <n-form-item label="Nom" :show-label="false" path="nom">
            <n-input v-model:value="form.nom" type="text" placeholder="Votre nom" />
          </n-form-item>
          <n-form-item label="Adresse mail" :show-label="false" path="email">
            <n-input v-model:value="form.email" type="text" placeholder="Votre adresse mail" />
          </n-form-item>
          <n-form-item label="Message" :show-label="false" path="message">
            <n-input v-model:value="form.message" type="textarea" placeholder="Votre message" :autosize="{ minRows: 10, maxRows: 10 }" />
          </n-form-item>
          <n-form-item label="Captcha" :show-label="false" path="recaptcha">
            <div id="recaptcha"></div>
          </n-form-item>
          <n-form-item :show-label="false">
            <n-button @click="handleSendClick">Envoyer</n-button>
          </n-form-item>
        </n-form>
      </n-space>
    </n-card>
  </n-space>
</template>

<style scoped>
.middle {
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.leftPanel {
  width: 500px;
  text-align: center;
  justify-content: center;
  padding-right: 30px;
}
.rightPanel {
  width: 500px;
}
</style>

<script setup>
import { ref, onMounted } from 'vue'
import { useStore } from 'vuex'
import { useMessage } from 'naive-ui'
import { ChatMail20Regular } from '@vicons/fluent'

const store = useStore()
const message = useMessage()

const form = ref({
  nom: '',
  email: '',
  message: '',
  recaptcha: ''
})

const rules = {
  nom: {
    required: true,
    message: "Mais qui êtes vous ?",
    trigger: 'blur'
  },
  email: {
    required: true,
    message: "Si vous voulez que je vous réponde...",
    trigger: 'blur'
  },
  message: {
    required: true,
    message: "Vous n'avez rien à me dire finalement ?",
    trigger: 'blur'
  },
  recaptcha: {
    required: true,
    message: "Seriez vous un robot ?",
    trigger: 'blur'
  }
}

const contactForm = ref(null)

function renderRecaptcha() {
  grecaptcha.render('recaptcha', {
    'sitekey' : '6LfC9OMeAAAAAG6dWzQc1ugiOnkfsRFksGXKosc7',
    'callback' : onRecaptchaVerify,
    'theme' : store.state.themeName
  })
}

function onRecaptchaVerify(response) {
  form.value.recaptcha = response
}

function handleSendClick(event) {
  event.preventDefault()

  contactForm.value?.validate((errors) => {
    if(!errors)
    {
      let data = new FormData()
      data.append('nom', form.value.nom)
      data.append('email', form.value.email)
      data.append('message', form.value.message)
      data.append('g-recaptcha-response', form.value.recaptcha)

      fetch('https://formspree.io/f/xlezlnrp', {
        method: 'POST',
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          message.success("Merci ! Votre message a bien été envoyé. Je vous répond dès que possible.")
          form.value.nom = ''
          form.value.email = ''
          form.value.message = ''
        } else {
          response.json().then(data => {
            if(Object.hasOwn(data, 'errors')) {
              let errors = data["errors"].map(error => error["message"]).join(", ")
              message.error("Impossible d'envoyer votre message du fait des problèmes suivants : "+errors)
            } else {
              message.error("Il y a eut une erreur lors de l'envoi votre message malheureusement...")
            }
          })
        }
      }).catch(error => {
        message.error("Il y a eut une erreur lors de l'envoi votre message malheureusement...")
      });
    }
  })
}

onMounted(() => {
  renderRecaptcha()
})
</script>
