<template>
  <n-space justify="center" size="medium" class="middle">  
    <div class="leftPanel">
      <div class="bulle" :class="{ bulleLight: !dark, bulleDark: dark }">
        <n-h3 class="salut" :class="{ salutLight: !dark, salutDark: dark }">Bonjour !</n-h3>
      </div>
      <n-h1>Vous recherchez un développeur ou un architecte pour intégrer votre équipe ?</n-h1>
      <n-h2>N'attendez plus...</n-h2>
      <n-button v-if="!codingCompleted && !introPlayed" type="primary" size="large" @click="startCoding()" :loading="coding">
        Codez-le !
      </n-button>
      <n-space justify="center" v-if="codingCompleted || introPlayed">
        <n-button type="primary" size="large" @click="routeTo('/cv')">
          Découvrez-le
        </n-button>
        <n-button type="primary" size="large" @click="routeTo('/contact')">
          Contactez-le
        </n-button>
      </n-space>
    </div>

    <CodedShortPres :coding="coding" @code-completed="codeCompleted()" />
  </n-space>
</template>

<style scoped>
.middle {
  height: calc(100vh - var(--header-height));
  align-items: center;
}

.leftPanel {
  width: 500px;
  text-align: center;
  justify-content: center;
  padding-right: 30px;
}

.bulle {
  display: inline-block;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 5px 10px;
  width: 75px;
  text-align: left;
}
.bulleLight {
  background-color: #2080F0FF;
}
.bulleDark {
  background-color: #70C0E8FF;
}
.bulle::after{
  content:""; 
  border-left: 4px solid transparent;
  border-right: 22px solid transparent;
  position: absolute;
}
.bulleLight::after {
  border-top: 16px solid #2080F0FF;
}
.bulleDark::after {
  border-top: 16px solid #70C0E8FF;
}
.salut {
  text-align: center !important;
  margin: 0px;
}
.salutLight {
  color: #ffffff;
}
.salutDark {
  color: #000000;
}
</style>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import CodedShortPres from '@/components/CodedShortPres.vue'

const store = useStore()

const introPlayed = ref(store.state.introPlayed)
const coding = ref(false)
const codingCompleted = ref(false)
const router = useRouter()
const dark = ref(store.state.themeName === 'dark')
var unsubscribe

function startCoding() {
  coding.value = true
}

function codeCompleted() {
  codingCompleted.value = true
}

function routeTo(path) {
  router.push(path);
}

onMounted(() => {
  unsubscribe = store.subscribe((mutation) => {
    if(mutation.type === 'changeTheme') {
      dark.value = mutation.payload === 'dark'
    }
  })
})

onBeforeUnmount(() => {
  unsubscribe()
})
</script>