<template>
  <n-back-top :right="80" />
  <n-layout :native-scrollbar="false" :position="absolute" content-style="min-height: calc(100vh - var(--header-height)); display: flex; flex-direction: column;">
    <div class="layout">
      <div class="content">
        <div>
          <About />
        </div>
        <div id="competences" class="section">
          <Skills />
        </div>
        <div id="experiences" class="section">
          <Experiences />
        </div>
        <div id="formations" class="section">
          <Educations />
        </div>
      </div>
      <div class="menu">
        <n-anchor affix listen-to=".menu" class="anchor" :top="88" :bound="250">
          <n-anchor-link title="Compétences" href="#competences" />
          <n-anchor-link title="Expériences" href="#experiences" />
          <n-anchor-link title="Formations" href="#formations" />
        </n-anchor>
      </div>
    </div>
    <n-layout-footer>
      <div class="footer">
        <n-button strong secondary type="primary" @click="handleDownloadPDFClick">
          Téléchargez la version papier (format PDF)
        </n-button>
      </div>
    </n-layout-footer>
  </n-layout>
</template>

<style scoped>
.layout {
  display: flex;
  flex-wrap: nowrap;
  padding: 32px 24px 56px 164px;
}

.content {
  width: calc(100% - 164px);
  margin-right: 36px;
}

.section {
  padding-top: 100px;
}
.last {
  margin-bottom: 150px;
}

.menu {
  width: 128px;
}
.anchor {
  z-index: 1;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 85px;
  padding-bottom: 85px;
  padding-left: 164px;
  padding-right: 164px;
}
</style>

<script setup>
import About from '@/components/About.vue'
import Skills from '@/components/Skills.vue'
import Experiences from '@/components/Experiences.vue'
import Educations from '@/components/Educations.vue'

function handleDownloadPDFClick()
{
  window.open('/files/Curriculum Vitae - Sébastien M.pdf');
}
</script>