<template>
  <n-card class="itemCard" content-style="display: flex; align-items: center;">
    <n-icon-wrapper :size="55" :border-radius="50" class="itemIcon">
      <n-icon size="40" >
        <slot name="icon"></slot>
      </n-icon>
    </n-icon-wrapper>
    <div class="itemContent">
      <n-h1 class="itemH1"><n-text type="primary">{{ title }}</n-text></n-h1>
      <n-h2 class="itemH2">{{ subTitle }}</n-h2>
    </div>
  </n-card>
</template>

<style scoped>
.itemCard {
  height: 100%;
}

.itemIcon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.itemContent {
  width: 100%;
}

.itemH1 {
  margin: 0 !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
.itemH2 {
  margin: 0 !important;
  margin-block-start: 0;
  margin-block-end: 0;
}
</style>

<script setup>
const props = defineProps({
  title: String,
  subTitle: String
})
</script>