<template>
  <div>
    <n-carousel class="carousel" :dot-type="'line'" :effect="'card'" autoplay :interval="3000" draggable keyboard>
      <n-carousel-item :style="{width: '500px'}">
        <AboutItem :title="anneesExperience" :subTitle="'années d\'expérience'">
          <template v-slot:icon>
            <Road />
          </template>
        </AboutItem>
      </n-carousel-item>
      <n-carousel-item :style="{width: '500px'}">
        <AboutItem :title="nbProjetsMissions+'+'" :subTitle="'projets ou missions'">
          <template v-slot:icon>
            <CheckCircle />
          </template>
        </AboutItem>
      </n-carousel-item>
      <n-carousel-item :style="{width: '500px'}">
        <AboutItem :title="nbTechnos+'+'" :subTitle="'technos connues'">
          <template v-slot:icon>
            <Cubes />
          </template>
        </AboutItem>
      </n-carousel-item>
    </n-carousel>
    <AboutText />
  </div>
</template>

<style scoped>
.carousel {
  height: 180px;
  text-align: center;
}
</style>

<script setup>
import AboutItem from '@/components/AboutItem.vue'
import AboutText from '@/components/AboutText.vue'
import Quote from '@/components/Quote.vue'
import { Road, CheckCircle, Cubes } from '@vicons/fa'
import { ref } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const anneesExperience = ref(store.getters.anneesExperience)
const nbProjetsMissions = ref(store.getters.nbProjetsMissions)
const nbTechnos = ref(store.getters.nbTechnosMinimumMaitrise)

</script>