<template>
  <Quote>
    Avec <b>{{ anneesExperience }} années d'expérience</b> et {{ nbProjetsArchitecte }} projets dans un <b>rôle d'architecte</b> logiciel et/ou de solution,
    j'aime concevoir et mettre en oeuvre des architectures répondant efficacement aux besoins de projets complexes. Je suis un <b>artisan du
    logiciel</b>, très <b>attaché à la qualité</b> de sa conception et de son code, dans un <b>esprit de partage</b> et d'humilité, tout en sachant être <b>professionnel
    et pragmatique</b> afin de répondre aux challenges de cette industrie. C'est d'ailleurs cela que je recherche en ce moment, <b>un nouveau challenge</b>...
    en avez vous un à me proposer ?
  </Quote>
</template>

<script setup>
import Quote from '@/components/Quote.vue'
import { ref } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const anneesExperience = ref(store.getters.anneesExperience)
const nbProjetsArchitecte = ref(store.getters.nbProjetsRoleArchitecte)
</script>