<template>
  <div>
    <n-card class="codeEditor">
      <div :class="{'codeEditor-dark': dark, 'codeEditor-light': !dark}">
        <span><span class="cKW">public class</span> GreatTeam</span><br/>
        <span>{</span><br/>
        <div class="indent">
          <span><span class="cKW">public static void</span> <span class="cN">main</span>(String[] args)</span><br/>
          <span>{</span><br/>
          <div class="indent">
            <span v-if="!introPlayed" class="cA" :class="{notDisplayed: coding}">// TODO à implémenter</span>
            <div ref="codeText">
            <div :class="{notDisplayed: !coding && !introPlayed}">
              <span><span class="cKW">var</span> sebastien = <span class="cKW">new</span> DevBuilder()</span><br/>
              <span>&emsp;.<span class="cN">nom</span>(<span class="cS">"Sébastien M"</span>)</span><br/>
              <span>&emsp;.<span class="cN">profil</span>()</span><br/>
              <span>&emsp;&emsp;.<span class="cN">developpeur</span>(<span class="cP">BACKEND</span>)</span><br/>
              <span>&emsp;&emsp;.<span class="cN">architecte</span>(<span class="cP">LOGICIEL</span>)</span><br/>
              <span>&emsp;&emsp;.<span class="cN">architecte</span>(<span class="cP">SOLUTION</span>)</span><br/>
              <span>&emsp;&emsp;.<span class="cN">and</span>()</span><br/>
              <span>&emsp;.<span class="cN">build</span>();</span><br/>
              <br/>
              <span>sebastien.<span class="cN">startCoding</span>();</span>
            </div>
          </div>
            <div ref="codeEditor" class="codeEditorContent"></div>
          </div>
          <span>}</span>
        </div>
        <span>}</span>
      </div>
    </n-card>
  </div>
</template>

<style scoped>
@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"),
   url(../assets/fonts/JetBrainsMono-Light.ttf) format("truetype");
}

.notDisplayed {
  display: none;
}

.codeEditor {
  width: 500px;
  height: 405px;
  font-family: 'JetBrainsMono', 'Courier New', Courier, monospace;
}

.indent {
  margin-left: 40px;
}

.codeEditorContent {
  display: initial;
  text-align: left;
}

.codeEditor-light {
  color: #000000;
}
.codeEditor-light .cA {
  color: #756e0b;
}
.codeEditor-light .cKW {
  color: #0030c2;
  font-weight: bold;
}
.codeEditor-light .cN {
  color: #27b9ad;
}
.codeEditor-light .cP {
  color: #7201af;
}
.codeEditor-light .cS {
  color: #008000;
}

.codeEditor-dark {
  color: #a9b7c6;
}
.codeEditor-dark .cA {
  color: #f0e10c;
}
.codeEditor-dark .cKW {
  color: #cc7832;
}
.codeEditor-dark .cN {
  color: #ffc66d;
}
.codeEditor-dark .cP {
  color: #9876aa;
}
.codeEditor-dark .cS {
  color: #6a8759;
}
</style>

<script setup>
import { ref, watch, onMounted, onBeforeUnmount } from 'vue'
import Typed from 'typed.js'
import { useStore } from 'vuex'

const props = defineProps({
  coding: Boolean
})

const emit = defineEmits(['codeCompleted'])

const store = useStore()

const introPlayed = ref(store.state.introPlayed)
const codeEditor = ref(null)
const codeText = ref(null)
const code = ref(null)
const dark = ref(store.state.themeName === 'dark')
var unsubscribe

const codingOptions = {
  typeSpeed: 55,
  shuffle: true,
  onComplete: onCodingComplete
}

function startCoding() {
  codingOptions.stringsElement = codeText.value
  code.value = new Typed(codeEditor.value, codingOptions)
}

function onChangeTheme(themeName) {
  dark.value = themeName === 'dark'
}

function onCodingComplete() {
  store.commit('introDone')
  emit('codeCompleted')
}

onMounted(() => {
  unsubscribe = store.subscribe((mutation) => {
    if(mutation.type === 'changeTheme') {
      onChangeTheme(mutation.payload)
    }
  })

  if(props.coding) {
    startCoding()
  }
})

watch(() => props.coding, (newValue) => {
  if(newValue === true) {
    startCoding()
  }
})

onBeforeUnmount(() => {
  unsubscribe()
})
</script>