<template>
  <div>
    <n-h1><n-text type="primary">Formations Continues</n-text></n-h1>
    <Training v-for="fi in formationsContinues" :key="fi" :fi="fi" />

    <n-h1><n-text type="primary">Formations Initiales</n-text></n-h1>
    <InitialEducation v-for="fi in formationsInitiales" :key="fi" :fi="fi" />
  </div>
</template>

<style scoped>

</style>

<script setup>
import InitialEducation from '@/components/InitialEducation.vue'
import Training from '@/components/Training.vue'
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const formationsContinues = computed(() => {
  const formations = [...store.state.cv.formationsContinues]

  return formations.sort((f1, f2) => f2.annee - f1.annee)
})

const formationsInitiales = computed(() => {
  const formations = [...store.state.cv.formationsInitiales]

  return formations.sort((f1, f2) => f2.anneeDebut - f1.anneeDebut)
})
</script>
