<template>
  <div class="experience">
    <n-blockquote class="projet" v-if="withProjet === true">
      <div v-if="exp.projet.nom !== null">{{ exp.projet.nom }}<br/></div>
      <p v-for="d in exp.projet.description" :key="d">{{ d }}</p>
    </n-blockquote>

    <Quote v-if="withContrib === true && exp.projet.contribution !== null" :small="small">
      <p v-for="c in exp.projet.contribution" :key="c">{{ c }}</p>
    </Quote>

    <ul class="list1">
      <li v-if="withRoles === true">
        {{ rolesTitle }} : <span v-for="(r, index) in roles" :key="r"><span class="role">{{ r }}</span><span v-if="index !== roles.length-1"> / </span></span>
        <ul class="list2" :class="{ list2Light: !dark, list2Dark: dark, list2Small: small }" v-if="objectifs.length > 0">
          <li v-for="o in objectifs" :key="o">{{ o }}</li>
        </ul>
      </li>
      <li v-if="withMissions === true && exp.missions !== null">
        {{ projMissionsTitle }} :
        <ul class="list2" :class="{ list2Light: !dark, list2Dark: dark, list2Small: small }">
          <li v-for="m in exp.missions" :key="m">
            {{ m.description }}
            <ul v-if="withMissionsDetail === true && m.liste !== undefined" class="list2" :class="{ list2Light: !dark, list2Dark: dark }">
              <li v-for="l in m.liste" :key="l">{{ l }}</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <n-card v-if="withEnvTech === true" class="technos">
      <div class="technosTitle">Environnement technique :</div>
      <n-space>
        <n-tag v-for="t in exp.environnementTechnique" :key="t" round type="info">{{ t }}</n-tag>
      </n-space>
    </n-card>
  </div>
</template>

<style scoped>
.experience {
  margin-bottom: 30px;
}

.projet {
  text-align: justify;
}

.role {
  font-weight: bold;
}

.list1 > li {
  list-style-type: none;
  margin-top: 20px;
}

.list2 > li {
  list-style-type: none;
  margin-top: 5px;
}
.list2Small > li {
  margin-top: 0px;
}

.list2 li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
}
.list2Light li::before {
  color: #2080F0FF;
}
.list2Dark li::before {
  color: #70C0E8FF;
}

.technos {
  margin-top: 20px;
}
.technosTitle {
  margin-bottom: 15px;
}
</style>

<script setup>
import Quote from '@/components/Quote.vue'
import { computed, ref, onMounted, onBeforeUnmount } from 'vue'
import { useStore } from 'vuex'

const props = defineProps({
  exp: Object,
  small: {
    type: Boolean,
    default: false
  },
  withProjet: {
    type: Boolean,
    default: true
  },
  withContrib: {
    type: Boolean,
    default: true
  },
  withRoles: {
    type: Boolean,
    default: true
  },
  withMissions: {
    type: Boolean,
    default: true
  },
  withMissionsDetail: {
    type: Boolean,
    default: true
  },
  withEnvTech: {
    type: Boolean,
    default: true
  }
})

const store = useStore()

const roles = computed(() => {
  var roles = []
  for(let i = 0; i < props.exp.roles.length; i++) {
    var r = props.exp.roles[i].nom
    if(props.exp.roles[i].type !== null) {
      r += " (" + props.exp.roles[i].type + ")"
    }
    roles.push(r)
  }
  return roles
})
const rolesTitle = computed(() => {
  return roles.value.length > 1 ? "Rôles" : "Rôle"
})

const objectifs = computed(() => {
  return [...new Set(props.exp.roles.flatMap(exp => exp.objectifs).filter(o => o !== null))]
})

const projMissionsTitle = computed(() => {
  return props.exp.missions.length > 1 ? "Projets / Missions" : "Projet / Mission"
})


const dark = ref(store.state.themeName === 'dark')
var unsubscribe

onMounted(() => {
  unsubscribe = store.subscribe((mutation) => {
    if(mutation.type === 'changeTheme') {
      dark.value = mutation.payload === 'dark'
    }
  })
})

onBeforeUnmount(() => {
  unsubscribe()
})
</script>
