<template>
  <div class="header">
    <div class="titleLine">
      <n-h3 class="title"><n-text type="primary">{{ dateDebut }} à {{ dateFin }}<span v-if="withDuree === true"> ({{ duree }})</span></n-text></n-h3>
      <n-tag v-if="exp.stage" size="small" round class="titleStage">Stage</n-tag>
    </div>
    <n-text depth="3" class="subtitle">{{ exp.entreprise }}</n-text>
  </div>
</template>

<style scoped>
.titleLine {
  display: flex;
}
.title {
  margin-bottom: 0;
}
.titleStage {
  margin-left: 8px;
}

.subtitle {
  font-size: small;
  font-style: italic;
  padding-left: 10px;
}

.header {
  margin-bottom: 20px;
}
</style>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  exp: Object,
  withDuree: {
    type: Boolean,
    default: true
  }
})

const dateOptions = {year: "numeric", month: "long"};

const dateDebut = computed(() => {
  let date = props.exp.debut.toLocaleString("fr-FR", dateOptions)
  return date.charAt(0).toUpperCase() + date.slice(1)
})
const dateFin = computed(() => {
  if(props.exp.fin === null) {
    return "aujourd'hui"
  }
  return props.exp.fin.toLocaleString("fr-FR", dateOptions)
})

function dateDiff(startingDate, endingDate) {
  var startDate = new Date(new Date(startingDate).toISOString().substr(0, 10));
  if (!endingDate) {
    endingDate = new Date().toISOString().substr(0, 10); // need date in YYYY-MM-DD format
  }
  var endDate = new Date(endingDate);
  if (startDate > endDate) {
    var swap = startDate;
    startDate = endDate;
    endDate = swap;
  }
  var startYear = startDate.getFullYear();
  var february = (startYear % 4 === 0 && startYear % 100 !== 0) || startYear % 400 === 0 ? 29 : 28;
  var daysInMonth = [31, february, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

  var yearDiff = endDate.getFullYear() - startYear;
  var monthDiff = endDate.getMonth() - startDate.getMonth();
  if (monthDiff < 0) {
    yearDiff--;
    monthDiff += 12;
  }
  var dayDiff = endDate.getDate() - startDate.getDate();
  if (dayDiff < 0) {
    if (monthDiff > 0) {
      monthDiff--;
    } else {
      yearDiff--;
      monthDiff = 11;
    }
    dayDiff += daysInMonth[startDate.getMonth()];
  }

  var duree = ""

  if(dayDiff > 20) {
    monthDiff++
  }
  if(monthDiff === 12) {
    yearDiff++
  }

  if(yearDiff > 0) {
    duree += yearDiff + " an"
    if(yearDiff > 1) {
      duree += "s"
    }
    if(monthDiff > 0 && monthDiff < 12) {
      duree += " et "
    }
  }

  if(monthDiff !== 12) {
    duree += monthDiff + " mois"
  }
  
  return duree
}

const duree = computed(() => {
  return dateDiff(props.exp.debut, props.exp.fin)
})
</script>
