<template>
  <div>
    <n-h1><n-text type="primary">Expériences Professionnelles</n-text></n-h1>

    <n-collapse class="filters" :default-expanded-names="['filtres']">
      <n-collapse-item title="Filtres" name="filtres">
        <n-card >
          <n-grid x-gap="40" :cols="3">
            <n-gi>
              <n-space vertical>
                <span>Par entreprise</span>
                <n-switch :round="false" @update:value="handleByCompanyChanged" />
              </n-space>
            </n-gi>
            <n-gi>
              <n-space vertical>
                <span>Ordre chronologique</span>
                <n-switch :round="false" @update:value="handleAscDescChanged" />
              </n-space>
            </n-gi>
            <n-gi>
              <n-space vertical>
                <span>Avec les stages</span>
                <n-switch :round="false" @update:value="handleWithStageChanged" />
              </n-space>
            </n-gi>
          </n-grid>
        </n-card>
      </n-collapse-item>
    </n-collapse>

    <n-timeline>
      <n-timeline-item v-for="exp in experiences" :key="exp.id">
        <template #header>
          <ExperienceHeader :exp="exp" />
        </template>
        <Experience :exp="exp" />
      </n-timeline-item>
    </n-timeline>
  </div>
</template>

<style scoped>
.filters {
  margin-bottom: 30px;
  text-align: center;
}
</style>

<script setup>
import ExperienceHeader from '@/components/ExperienceHeader.vue'
import Experience from '@/components/Experience.vue'
import { ref, reactive, computed } from 'vue'
import { useStore } from 'vuex'

const filters = reactive({
  parEntreprise: ref(false),
  chronologique: ref(false),
  avecStage: ref(false),
})

function initExpParEntreprise(entreprises, exp) {
    let expCloned = JSON.parse(JSON.stringify(exp))
    expCloned.debut = exp.debut
    expCloned.fin = exp.fin
    let entreprise = entreprises.find((e) => e.id === expCloned.entrepriseId)
    if(entreprise === undefined) {
      return expCloned
    } else {
      expCloned.entreprise = entreprise.nom
      expCloned.projet.nom = null
      expCloned.projet.description = entreprise.description
      expCloned.projet.contribution = entreprise.contribution
      return expCloned
    }
}
function mergeExpParEntreprise(expParEntreprise, exp) {
  if(exp.debut < expParEntreprise.debut) {
    expParEntreprise.debut = exp.debut
  }
  if(exp.fin > expParEntreprise.fin) {
    expParEntreprise.fin = exp.fin
  }
  if(!exp.stage) {
    expParEntreprise.stage = false
  }
  exp.roles.forEach(role => {
    let epeRoleIndex = expParEntreprise.roles.findIndex((epeRole) => epeRole.nom === role.nom && epeRole.type === role.type)
    if(epeRoleIndex === -1) {
      expParEntreprise.roles.push(role)
    } else if(role.objectifs !== null) {
      if(expParEntreprise.roles[epeRoleIndex].objectifs === null) {
        expParEntreprise.roles[epeRoleIndex].objectifs = []
      }
      role.objectifs.forEach(o => {
        if(expParEntreprise.roles[epeRoleIndex].objectifs.findIndex((epeObjectif) => epeObjectif === o) === -1) {
          expParEntreprise.roles[epeRoleIndex].objectifs.push(o)
        }
      })
    }
  })
  if(exp.missions !== null) {
    if(expParEntreprise.missions === null) {
      expParEntreprise.missions = exp.missions
    } else {
      exp.missions.forEach(mission => {
        if(expParEntreprise.missions.findIndex((epeMission) => epeMission.description === mission.description) === -1) {
          expParEntreprise.missions.push(mission)
        }
      })
    }
  }
  exp.environnementTechnique
    .forEach(techno => {
      let epeTechnoIndex = expParEntreprise.environnementTechnique.findIndex((epeTechno) => epeTechno === techno)
      if(epeTechnoIndex === -1) {
        expParEntreprise.environnementTechnique.push(techno)
      }
    })
}

function orderAsc(e1, e2) {
  return e1.debut - e2.debut
}
function orderDesc(e1, e2) {
  return e2.debut - e1.debut
}

const store = useStore()

const experiences = computed(() => {
  const experiences = [...store.state.cv.experiencesProfessionnelles]
  const entreprises = [...store.state.cv.entreprises]

  return experiences
            .filter(exp => filters.avecStage ? true : !exp.stage)
            .reduce((experiencesParEntreprise, exp) => {
              if(!filters.parEntreprise) {
                experiencesParEntreprise.push(exp)
                return experiencesParEntreprise
              } else {
                let index = experiencesParEntreprise.findIndex((epe) => epe.entrepriseId === exp.entrepriseId)
                if(index === -1) {
                  let expParEntreprise = initExpParEntreprise(entreprises, exp)
                  experiencesParEntreprise.push(expParEntreprise)
                } else {
                  mergeExpParEntreprise(experiencesParEntreprise[index], exp)
                }
                return experiencesParEntreprise
              }
            }, [])
            .sort(filters.chronologique ? orderAsc : orderDesc)
})

function handleByCompanyChanged(value) {
  filters.parEntreprise = value
}

function handleAscDescChanged(value) {
  filters.chronologique = value
}

function handleWithStageChanged(value) {
  filters.avecStage = value
}
</script>
