<template>
  <div class="formation">
    <n-tooltip trigger="hover" placement="top-start" v-if="fi.mention !== null">
      <template #trigger>
        <div>{{ fi.anneeDebut }} - {{ fi.anneeFin }} <n-text type="primary" class="title">{{ fi.type}} {{ (fi.niveau > 1 ? fi.libelleLong : fi.libelle) }}</n-text> ({{ fi.etablissement.nom }}, {{ fi.etablissement.ville }})</div>
      </template>
      Avec mention {{ fi.mention }}
    </n-tooltip>
    <div v-if="fi.mention === null">
      {{ fi.anneeDebut }} - {{ fi.anneeFin }} <n-text type="primary" class="title">{{ fi.type}} {{ (fi.niveau > 1 ? fi.libelleLong : fi.libelle) }}</n-text> ({{ fi.etablissement.nom }}, {{ fi.etablissement.ville }})
    </div>
  </div>
</template>

<style scoped>
.formation {
  padding-bottom: 15px;
}

.title {
  margin-left: 15px;
}
</style>

<script setup>
const props = defineProps({
  fi: Object
})
</script>
