<template>
  <p class="citation" :class="{ citationLight: !dark, citationDark: dark, citationSmall: small }">
    <slot></slot>
  </p>
</template>

<style scoped>
.citation {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: justify;
  font-style: italic;
  letter-spacing: 0.003rem;

  position: relative; 
  margin-bottom: 30px;
  quotes: "\201C""\201D""\2018""\2019";
}
.citationSmall {
  margin-top: 25px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.citation::before {
  content: open-quote;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 100px;
  position: absolute; 
  top: -0.5em;
  left: -0.5em; 
}
.citationSmall::before {
  font-size: 65px;
}
.citationLight::before {
  color: #2080F0FF;
}
.citationDark::before {
  color: #70C0E8FF;
}

.citation::after {
  content: close-quote;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 100px;
  position: absolute; 
  bottom: -1em;
  right: -0.4em;
}
.citationSmall::after {
  font-size: 65px;
}
.citationLight::after {
  color: #2080F0FF;
}
.citationDark::after {
  color: #70C0E8FF;
}

.citationSmall>p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
</style>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import { useStore } from 'vuex'

const props = defineProps({
  small: {
    type: Boolean,
    default: false
  }
})

const store = useStore()

const dark = ref(store.state.themeName === 'dark')
var unsubscribe

onMounted(() => {
  unsubscribe = store.subscribe((mutation) => {
    if(mutation.type === 'changeTheme') {
      dark.value = mutation.payload === 'dark'
    }
  })
})

onBeforeUnmount(() => {
  unsubscribe()
})
</script>
