<template>
    <n-layout-header bordered class="nav">
      <div>
        <n-h1 class="title">
          <router-link to="/" #="{ navigate, href }" custom>
            <n-a :href="href" @click="navigate" class="titleLink">
              &lt;SebastienM4j /&gt;
            </n-a>
          </router-link>
        </n-h1>
      </div>

      <n-space>
        <router-link to="/cv" #="{ navigate, href }" custom>
            <n-a :href="href" @click="navigate" class="link" :class="{ linkActive: activeRoute === '/cv', linkInactive: activeRoute !== '/cv' }">
              CV
            </n-a>
          </router-link>

          <router-link to="/contact" #="{ navigate, href }" custom>
            <n-a :href="href" @click="navigate" class="link" :class="{ linkActive: activeRoute === '/contact', linkInactive: activeRoute !== '/contact' }">
              Contact
            </n-a>
          </router-link>
      </n-space>
        
      <n-switch unchecked-value="light" checked-value="dark" @update:value="handleThemeSwitchChanged" />
    </n-layout-header>
</template>

<style scoped>
.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: -4px;
  margin-bottom: -4px;
  height: var(--header-height);

  box-shadow: 11px 10px 25px hsla(0, 0%, 0%, 10%);
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: initial;
}
.titleLink {
  text-decoration-line: none;
  font-family: 'ArchitectsDaughter';
  font-weight: bold;
}

.link {
  text-decoration-line: none;
  font-family: 'ArchitectsDaughter';
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  align-content: center;
}
.linkActive {
  border-bottom: 1px solid;
}
.linkInactive {
  border-bottom: 0px solid;
}
</style>

<script setup>
import { ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import { useStore } from 'vuex'

const route = useRoute()
const store = useStore()

const activeRoute = ref()
watch(
  () => route.path,
  async newPath => {
    activeRoute.value = newPath
  }
)

function handleThemeSwitchChanged(value) {
  store.commit("changeTheme", value);
}
</script>