<template>
  <n-layout :position="'absolute'">
    <SiteHeader />
    <n-layout :native-scrollbar="false" :position="'absolute'" class="content">
      <router-view />
    </n-layout>
  </n-layout>
</template>

<style scoped>
.content {
  top: var(--header-height);
}
</style>

<script>
import SiteHeader from './SiteHeader.vue'

export default {
    components: { 
      SiteHeader 
    }
}
</script>

