<template>
  <div>
    <n-h1><n-text type="primary">Compétences Techniques</n-text></n-h1>
    
    <n-collapse class="filters" :default-expanded-names="['filtres']">
      <n-collapse-item title="Filtres" name="filtres">
        <n-card >
          <n-grid x-gap="40" :cols="3">
            <n-gi>
              <n-space vertical>
                <span>Niveau estimé</span>
                <n-slider v-model:value="skillsFilters.niveau" :step="5" />
              </n-space>
            </n-gi>
            <n-gi>
              <n-space vertical>
                <span>Utilisé par le passé</span>
                <n-switch :round="false" @update:value="handleUseInPastChanged" />
              </n-space>
            </n-gi>
            <n-gi>
              <n-space vertical>
                <span>Utilisé à titre personnel</span>
                <n-switch :round="false" @update:value="handleUseInNightChanged" />
              </n-space>
            </n-gi>
          </n-grid>
        </n-card>
      </n-collapse-item>
    </n-collapse>

    <TechnicalSkills :title="'Langages'" :skills="skillsLangage" />
    <TechnicalSkills :title="'Java'" :skills="skillsJava" />
    <TechnicalSkills :title="'Outils'" :skills="skillsOutil" />
    <TechnicalSkills :title="'Technos'" :skills="skillsTechno" />
    <TechnicalSkills :title="'Protocoles'" :skills="skillsProtocole" />
    <TechnicalSkills :title="'Web'" :skills="skillsWeb" />
    <TechnicalSkills :title="'Divers'" :skills="skillsDivers" />

    <n-h1><n-text type="primary">Compétences Professionnelles</n-text></n-h1>

    <n-space justify="space-around">
      <n-progress type="circle" status="default" v-for="s in softSkills" :key="s.nom" :percentage="s.niveau">
        <div class="softSkillText">{{ s.nom }}</div>
      </n-progress>
    </n-space>
  </div>
</template>

<style scoped>
.filters {
  margin-bottom: 30px;
  text-align: center;
}

.softSkillText {
  text-align: center;
}
</style>

<script setup>
import TechnicalSkills from '@/components/TechnicalSkills.vue'
import { ref, reactive, computed } from 'vue'
import { useStore } from 'vuex'

const skillsFilters = reactive({
  niveau: ref(30),
  utilisation: ref(["quotidienne", "régulière", "ponctuelle"])
})

const store = useStore()

const skillsLangage = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["langage"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsJava = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["java"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsOutil = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["outil"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsTechno = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["techno", "bdd"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsProtocole = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["protocole"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsWeb = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["web"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsDivers = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["os"], skillsFilters.niveau, skillsFilters.utilisation)
})

const softSkills = store.state.cv.competencesProfessionnelles

function handleUseInPastChanged(value) {
  const filtre = "par le passé";
  if(value) {
    skillsFilters.utilisation.push(filtre)
  } else {
    delete skillsFilters.utilisation[skillsFilters.utilisation.indexOf(filtre)]
  }
}

function handleUseInNightChanged(value) {
  const filtre = "à titre personnel";
  if(value) {
    skillsFilters.utilisation.push(filtre)
  } else {
    delete skillsFilters.utilisation[skillsFilters.utilisation.indexOf(filtre)]
  }
}
</script>