<template>
    <div>
      <n-tooltip trigger="hover">
        <template #trigger>
          <div>
            <n-text>{{ skill.nom }}</n-text>
            <n-progress type="line" status="default" :percentage="skill.niveau" />
          </div>
        </template>
        {{ skill.nom }} : {{ skill.type }} ({{ skill.categorie }}), utilisation {{ skill.utilisation }}
      </n-tooltip>
    </div>
</template>

<style scoped>

</style>

<script setup>
const props = defineProps({
  skill: Object
})
</script>