<template>
    <div class="section" v-if="skills.length > 0">
      <n-h3><n-text type="primary">{{ title }}</n-text></n-h3>
      <n-grid x-gap="40" :cols="2">
        <n-gi>
          <TechnicalSkill v-for="s in leftSkills" :key="s.nom" :skill="s" />
        </n-gi>
        <n-gi>
          <TechnicalSkill v-for="s in rightSkills" :key="s.nom" :skill="s" />
        </n-gi>
      </n-grid>
    </div>
</template>

<style scoped>
.section {
  width: 100%;
  margin-bottom: 55px;
}
</style>

<script setup>
import TechnicalSkill from '@/components/TechnicalSkill.vue'
import { computed } from 'vue'

const props = defineProps({
  title: String,
  skills: Array
})

const endFirstRange = computed(() => {
  let half = props.skills.length / 2
  if(half !== Math.trunc(half)) {
    return Math.trunc(half) + 1
  }
  return half
})

const leftSkills = computed(() => {
  return props.skills.slice(0, endFirstRange.value)
})
const rightSkills = computed(() => {
  return props.skills.slice(endFirstRange.value)
})
</script>