<template>
  <div class="formation">
    {{ fi.annee }} <n-text type="primary" class="title">{{ fi.libelle}}</n-text> ({{ fi.nbJours }} jours)
  </div>
</template>

<style scoped>
.formation {
  padding-bottom: 15px;
}

.title {
  margin-left: 15px;
}
</style>

<script setup>
const props = defineProps({
  fi: Object
})
</script>
