<template>
  <div class="a4 page">
    <div class="pageTitle">
      <n-h1 class="hnomargin verticalTitle"><n-text type="primary">Expériences Professionnelles</n-text></n-h1>
    </div>
    <div class="content">
      <div v-for="item in experiences" :key="item.exp.id">
        <ExperienceHeader v-if="item.header === true"
          :exp="item.exp" 
          :withDuree="item.duree" 
        />
        <Experience :exp="item.exp" :small="true" 
          :withProjet="item.projet" 
          :withContrib="item.contrib"
          :withRoles="item.roles"
          :withMissions="item.missions" 
          :withMissionsDetail="false"
          :withEnvTech="item.env"
        />
      </div>
    </div>

    <PageFooter :page="page" />
  </div>
</template>

<style scoped>
.page {
  display: flex;
  flex-wrap: nowrap;
}

.pageTitle {
  width: 55px;
  background-color: #FAFAFCFF;
  border-right: 1px solid rgb(239, 239, 245);
  position: relative;
}
.verticalTitle {
  transform: rotate(270deg);
  transform-origin: 0 0;
  width: 296mm;
  position: absolute;
  top: 296mm;
  text-align: center;
}

.content {
  width: calc(210mm - 55px);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
</style>

<script setup>
import ExperienceHeader from '@/components/ExperienceHeader.vue'
import Experience from '@/components/Experience.vue'
import PageFooter from '@/components/cvpapier/PageFooter.vue'

const props = defineProps({
  experiences: Array,
  page: Number
})
</script>
