<template>
  <div class="a4 firstPage">

    <div class="title">
      <n-space class="titleLeft" vertical justify="center">
        <n-h1 class="hnomargin white">{{ infos.name }}</n-h1>
      </n-space>
      <n-space class="titleContent" vertical justify="center">
        <n-h2 class="hnomargin white">Développeur backend<br />Architecte Logiciel et de Solution</n-h2>
      </n-space>
    </div>

    <div class="left">
      <n-space class="leftColumn" vertival justify="center">
        <div>
        <n-h4 class="leftH4"><n-text type="primary">Contact</n-text></n-h4>
        <n-space vertical>
          <n-text type="primary" v-if="infos.adresse1 !== ''">
            <n-icon size="18" ><AddressCardRegular /></n-icon><br />
            {{ infos.adresse1 }}<br />
            {{ infos.adresse2 }}
          </n-text>
          <n-text type="primary" v-if="infos.portable !== ''">
            <n-icon size="18" ><Phone /></n-icon><br />
            {{ infos.portable }}
          </n-text>
          <n-text type="primary" v-if="infos.mail !== ''">
            <n-icon size="18" ><AlternateEmailFilled /></n-icon><br />
            {{ infos.mail }}
          </n-text>
          <n-text type="primary">
            <n-icon size="18" ><Cloud /></n-icon><br />
            https://sebastienm4j.tribord40.fr
          </n-text>
          <n-text type="primary">
            <n-icon size="18" ><Gitlab /></n-icon><br />
            @SebastienM4j
          </n-text>
        </n-space>
        </div>

        <div>
        <n-h4 class="leftH4"><n-text type="primary">Chiffres Clés</n-text></n-h4>
        <n-space vertical>
          <n-text type="primary">
            <n-icon size="18" ><Road /></n-icon><br />
            <b>{{ anneesExperience }}</b> années d'expérience
          </n-text>
          <n-text type="primary">
            <n-icon size="18" ><CheckCircle /></n-icon><br />
            <b>{{ nbProjetsMissions }}+</b> projets ou missions
          </n-text>
          <n-text type="primary">
            <n-icon size="18" ><Cubes /></n-icon><br />
            <b>{{ nbTechnos }}+</b> technos connues
          </n-text>
        </n-space>
        </div>

        <div>
        <n-h4 class="leftH4"><n-text type="primary">Divers</n-text></n-h4>
        <n-space vertical>
          <n-text type="primary">
            <n-icon size="18" ><Language /></n-icon><br />
            Anglais (technique, lu) 
          </n-text>
          <n-text type="primary" v-if="infos.etatCivil !== '' || infos.situationFamiliale !== ''">
            <n-icon size="18" ><FamilyRestroomFilled /></n-icon><br />
            {{ infos.etatCivil }}<br />
            {{ infos.situationFamiliale }}
          </n-text>
          <n-text type="primary">
            <n-icon size="18" ><SportsEsportsFilled /></n-icon><br />
            Vélo, Skate, Lego,<br />
            Géocaching, Association,<br />
            Famille, AC/DC, ...
          </n-text>
        </n-space>
        </div>
      </n-space>
    </div>

    <div class="content">
      <div class="sectionAccroche">
        <AboutText class="accroche" />
      </div>

      <div class="sectionCompetences">
        <div class="competences">
          <TechnicalSkills :title="'Langages'" :skills="skillsLangage" />
          <TechnicalSkills :title="'Java'" :skills="skillsJava" />
          <TechnicalSkills :title="'Outils'" :skills="skillsOutil" />
          <TechnicalSkills :title="'Technos'" :skills="skillsTechno" />
          <TechnicalSkills :title="'Protocoles'" :skills="skillsProtocole" />
          <TechnicalSkills :title="'Web'" :skills="skillsWeb" />
          <TechnicalSkills :title="'Divers'" :skills="skillsDivers" />

          <n-space class="competencesPro" justify="center">
            <n-progress type="circle" class="softSkillProgress" status="default" v-for="s in softSkills" :key="s.nom" :percentage="s.niveau">
              <div class="softSkillText">{{ s.nom }}</div>
            </n-progress>
          </n-space>
        </div>
        <div class="competencesTitle">
          <n-h1 class="hnomargin verticalTitle"><n-text type="primary">Compétences</n-text></n-h1>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.white {
  color: #FFFFFF;
}

.firstPage {
  display: flex;
  flex-wrap: nowrap;
}

.firstPage .title {
  position: absolute;
  z-index: 99;
  top: 60px;
  width: 100%;
  height: 100px;
  background-color: #2080F0FF;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
.firstPage .title .titleLeft {
  width: 30%;
  align-items: center;
}
.firstPage .title .titleContent {
  width: 70%;
  text-align: center;
}

.firstPage .left {
  width: 35%;
  height: 100%;
  background-color: #FAFAFCFF;
  border-right: 1px solid rgb(239, 239, 245);
  padding-top: 170px;
  text-align: center;
}
.firstPage .content {
  width: 65%;
  height: 100%;
  padding-top: 180px;
}

.leftColumn {
  align-content: space-around;
  height: calc(100% - 180px);
}

.leftH4 {
  margin-left: 45px;
  margin-right: 45px;
  padding: 7px 15px;
  border-bottom: 1px solid #2080F0FF;
}

.sectionAccroche {
  padding-left: 15px;
  padding-right: 15px;
}
.accroche {
  margin-top: 20px !important;
}

.sectionTitle {
  text-align: center;
  border-bottom: 2px solid #2080F0FF;
}

.sectionCompetences {
  height: 710px;
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 15px;
}
.sectionCompetences .competences {
  width: 430px;
  padding-top: 25px;
  margin-right: 15px;
}
.sectionCompetences .competencesTitle {
  width: 55px;
  background-color: #FAFAFCFF;
  /* border-top: 1px solid rgb(239, 239, 245); */
  border-left: 1px solid rgb(239, 239, 245);
  position: relative;
}

.competencesPro {
  margin-top: 40px !important;
  margin-left: 25px;
  margin-right: 25px;
}
.softSkillProgress {
  width: 90px !important;
}
.softSkillText {
  text-align: center;
}

.competencesTitle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.verticalTitle {
  writing-mode: tb;
}
</style>

<script setup>
import AboutText from '@/components/AboutText.vue'
import TechnicalSkills from '@/components/cvpapier/TechnicalSkills.vue'
import { AddressCardRegular, Phone, Cloud, Gitlab, Road, CheckCircle, Cubes, Language } from '@vicons/fa'
import { AlternateEmailFilled, FamilyRestroomFilled, SportsEsportsFilled } from '@vicons/material'
import { ref, computed } from 'vue'
import { useStore } from 'vuex'

const infos = {
  name: process.env.VUE_APP_NAME,
  adresse1: process.env.VUE_APP_ADRESSE1,
  adresse2: process.env.VUE_APP_ADRESSE2,
  portable: process.env.VUE_APP_PORTABLE,
  mail: process.env.VUE_APP_MAIL,
  etatCivil: process.env.VUE_APP_ETAT_CIVIL,
  situationFamiliale: process.env.VUE_APP_SITUATION_FAM
}

const store = useStore()

const theme = computed(() => store.state.theme)

const anneesExperience = ref(store.getters.anneesExperience)
const nbProjetsMissions = ref(store.getters.nbProjetsMissions)
const nbTechnos = ref(store.getters.nbTechnosMinimumMaitrise)

const skillsFilters = {
  niveau: 30,
  utilisation: ["quotidienne", "régulière", "ponctuelle", "par le passé", "à titre personnel"]
}
const skillsLangage = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["langage"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsJava = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["java"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsOutil = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["outil"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsTechno = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["techno", "bdd"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsProtocole = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["protocole"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsWeb = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["web"], skillsFilters.niveau, skillsFilters.utilisation)
})
const skillsDivers = computed(() => {
  return store.getters.findCompetencesTechniquesBy(["os"], skillsFilters.niveau, skillsFilters.utilisation)
})

const softSkills = store.state.cv.competencesProfessionnelles
</script>
