<template>
  <div class="a4 page">

    <div class="experiences">
      <div class="experiencesTitle">
        <n-h1 class="hnomargin verticalTitle"><n-text type="primary">Expériences Professionnelles</n-text></n-h1>
      </div>
      <div class="experiencesContent">
        <div v-for="item in experiences" :key="item.exp.id">
          <ExperienceHeader v-if="item.header === true" :exp="item.exp" />
          <Experience :exp="item.exp" :small="true" 
            :withProjet="item.projet" 
            :withContrib="item.contrib"
            :withRoles="item.roles"
            :withMissions="item.missions" 
            :withMissionsDetail="false"
            :withEnvTech="item.env"
          />
        </div>
      </div>
    </div>

    <div class="formations">
      <div class="formationsContent">
        <n-h5><n-text type="primary">Formations Continues</n-text></n-h5>
        <Training v-for="fi in formationsContinues" :key="fi" :fi="fi" />

        <n-h5><n-text type="primary">Formations Initiales</n-text></n-h5>
        <InitialEducation v-for="fi in formationsInitiales" :key="fi" :fi="fi" />
      </div>
      <div class="formationsTitle">
        <n-h1 class="hnomargin verticalTitle"><n-text type="primary">Formations</n-text></n-h1>
      </div>
    </div>

    <PageFooter :page="page" />
  </div>
</template>

<style scoped>
.experiences {
  display: flex;
  flex-wrap: nowrap;
}

.experiencesTitle {
  width: 55px;
  background-color: #FAFAFCFF;
  border-right: 1px solid rgb(239, 239, 245);
  position: relative;
}
.experiencesTitle .verticalTitle {
  transform: rotate(270deg);
  transform-origin: 0 0;
  width: 600px;
  position: absolute;
  top: 580px;
  text-align: center;
}

.experiencesContent {
  width: calc(210mm - 55px);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 55px;
}


.formations {
  height: 665px;
  display: flex;
  flex-wrap: nowrap;
}

.formationsTitle {
  width: 55px;
  background-color: #FAFAFCFF;
  border-left: 1px solid rgb(239, 239, 245);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.formationsTitle .verticalTitle {
  writing-mode: tb;
}

.formationsContent {
  width: calc(210mm - 55px);
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 160px;
  padding-right: 15px;
}
</style>

<script setup>
import ExperienceHeader from '@/components/ExperienceHeader.vue'
import Experience from '@/components/Experience.vue'
import InitialEducation from '@/components/InitialEducation.vue'
import Training from '@/components/Training.vue'
import PageFooter from '@/components/cvpapier/PageFooter.vue'
import { computed } from 'vue'
import { useStore } from 'vuex'

const props = defineProps({
  experiences: Array,
  page: Number
})

const store = useStore()

const formationsContinues = computed(() => {
  const formations = [...store.state.cv.formationsContinues]

  return formations.sort((f1, f2) => f2.annee - f1.annee)
})

const formationsInitiales = computed(() => {
  const formations = [...store.state.cv.formationsInitiales]

  return formations.sort((f1, f2) => f2.anneeDebut - f1.anneeDebut)
})
</script>
