<template>
  <div class="footer">
    <div class="content">
      <n-text type="primary">{{ infos.name }} • </n-text>
      <n-text depth="3">Développeur et Architecte</n-text>
      <n-text type="primary"> • https://sebastienm4j.tribord40.fr</n-text>
    </div>
    <div class="page">
      {{ page }}
    </div>
  </div>
</template>

<style scoped>
.footer {
  position: absolute;
  bottom: 0;
  right: 75px;

  display: flex;
  flex-wrap: nowrap;
}

.content {
  padding-right: 20px;
  padding-top: 10px;
}

.page {
  border-left: 4px solid #2080F0FF;
  padding-top: 10px;
  padding-left: 5px;
}
</style>

<script setup>

const props = defineProps({
  page: Number
})

const infos = {
  name: process.env.VUE_APP_NAME,
}
</script>