<template>
    <div class="section" v-if="skills.length > 0">
      <div class="skillsTitle">
        <n-h3 class="hnomargin"><n-text type="primary">{{ title }}</n-text></n-h3>
      </div>
      <div class="skillsList">
        <span v-for="(s, index) in skills" :key="s">{{ s.nom }}<span v-if="index < skills.length-1">, </span></span>
      </div>
    </div>
</template>

<style scoped>
.section {
  width: 100%;
  display: flex;
  flex-flow: nowrap;
  border-bottom: 1px solid #2080F0FF;
  padding-top: 5px;
  padding-bottom: 5px;
}

.skillsTitle {
  width: 150px;
  display: inline-flex;
  align-items: center;
}
.skillsList {
  width: 345px;
}
</style>

<script setup>
import TechnicalSkill from '@/components/TechnicalSkill.vue'
import { computed } from 'vue'

const props = defineProps({
  title: String,
  skills: Array
})
</script>