<template>
  <n-config-provider :theme="theme" :theme-overrides="store.state.themeName === 'light' ? lightThemeOverrides : darkThemeOverrides">
    <!-- <n-theme-editor> -->
      <n-message-provider :placement="'bottom'" :duration="5000" :keep-alive-on-hover="true">
        <n-notification-provider>
          <n-dialog-provider>
            <SiteLayout v-if="!isMobile()" />
            <div v-else class="mobileDisclaimer">
              <div>
                <n-h1><n-text type="primary">&lt;SebastienM4j /&gt;</n-text></n-h1>
                <n-h2>Version mobile à venir...</n-h2>
                <n-h3>(merci de votre compréhension)</n-h3>
                <n-button strong secondary type="primary" @click="handleDownloadPDFClick">
                  Téléchargez le CV
                </n-button>
              </div>
            </div>
          </n-dialog-provider>
        </n-notification-provider>
      </n-message-provider>
    <!-- </n-theme-editor> -->
  </n-config-provider>
</template>

<style>
@font-face {
  font-family: 'ArchitectsDaughter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(assets/fonts/ArchitectsDaughter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}


body {
  margin: 0px;
  overflow: hidden;
  --header-height: 64px;
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.n-h {
  font-family: ArchitectsDaughter, sans-serif;
}
.n-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.mobileDisclaimer {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFCFF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<script setup>
import SiteLayout from '@/components/SiteLayout.vue'
import { computed } from 'vue'
import { useStore } from 'vuex'

const lightThemeOverrides = {
  "common": {
    "primaryColor": "#2080F0FF",
    "primaryColorHover": "#4098FCFF",
    "primaryColorPressed": "#1060C9FF",
    "primaryColorSuppl": "#4098FCFF"
  },
  "Layout": {
    "color": "#FAFAFCFF"
  },
  "Carousel": {
    "dotColor": "#0908084D",
    "dotColorActive": "#646667FF",
    "dotColorFocus": "#0908084D"
  },
  "Typography": {
    "blockquotePrefixColor": "#2080F0FF"
  }
}

const darkThemeOverrides = {
  "common": {
    "primaryColor": "#70C0E8FF",
    "primaryColorHover": "#8ACBECFF",
    "primaryColorPressed": "#66AFD3FF",
    "primaryColorSuppl": "rgba(56, 137, 197, 1)"
  },
  "Card": {
    "color": "#252525FF"
  },
  "Layout": {
    "color": "#222222FF",
    "headerColor": "#252525FF"
  }
  ,
  "Typography": {
    "blockquotePrefixColor": "#70C0E8FF"
  }
}

const store = useStore()

const theme = computed(() => store.state.theme)

function isMobile() {
  return screen.width <= 768
}

function handleDownloadPDFClick()
{
  window.open('/files/Curriculum Vitae - Sébastien M.pdf');
}
</script>
