<template>
  <n-config-provider :theme="theme" :theme-overrides="lightThemeOverrides">
    <FirstPage />
    <ExperiencePage :experiences="experiencesPage1" :page="2" />
    <ExperiencePage :experiences="experiencesPage2" :page="3" />
    <ExperiencePage :experiences="experiencesPage3" :page="4" />
    <LastPage :experiences="experiencesPage4" :page="5" />
  </n-config-provider>
</template>

<style>
@font-face {
  font-family: 'ArchitectsDaughter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(assets/fonts/ArchitectsDaughter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@page { 
  margin: 0;
}

body { 
  margin: 0;
  font-size: 12px;
}

.a4 {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;

  width: 210mm;
  height: 297mm;
}

@media screen {
  body { 
    background: #e0e0e0
  }
  .a4 {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body { 
    width: 210mm
  }
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.n-h {
  font-family: ArchitectsDaughter, sans-serif;
}
.hnomargin {
  margin: 0;
}
.n-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
</style>

<script setup>
import FirstPage from '@/components/cvpapier/FirstPage.vue'
import ExperiencePage from '@/components/cvpapier/ExperiencePage.vue'
import LastPage from '@/components/cvpapier/LastPage.vue'
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()

const theme = computed(() => store.state.theme)

const lightThemeOverrides = {
  "common": {
    "primaryColor": "#2080F0FF",
    "primaryColorHover": "#4098FCFF",
    "primaryColorPressed": "#1060C9FF",
    "primaryColorSuppl": "#4098FCFF",
    "fontSize": "12px"
  },
  "Layout": {
    "color": "#FAFAFCFF"
  },
  "Carousel": {
    "dotColor": "#0908084D",
    "dotColorActive": "#646667FF",
    "dotColorFocus": "#0908084D"
  },
  "Tag": {
    "fontSizeMedium": "11px",
    "heightMedium": "20px"
  },
  "Typography": {
    "blockquotePrefixColor": "#2080F0FF"
  }
}

function orderDesc(e1, e2) {
  return e2.debut - e1.debut
}
const experiences = computed(() => {
  const experiences = [...store.state.cv.experiencesProfessionnelles]

  return experiences
            .filter(exp => !exp.stage)
            .sort(orderDesc)
})

const experiencesPage1 = computed(() => {
  return [
    { exp: experiences.value[0], header: true, duree: false, projet: true, contrib: false, roles: true, missions: false, env: true },
    { exp: experiences.value[1], header: true, duree: true, projet: true, contrib: false, roles: true, missions: false, env: true }
  ]
})
const experiencesPage2 = computed(() => {
  return [
    { exp: experiences.value[2], header: true, duree: true, projet: true, contrib: false, roles: true, missions: false, env: true },
    { exp: experiences.value[3], header: true, duree: true, projet: true, contrib: false, roles: true, missions: false, env: true }
  ]
})
const experiencesPage3 = computed(() => {
  return [
    { exp: experiences.value[4], header: true, duree: true, projet: true, contrib: false, roles: true, missions: false, env: true },
    { exp: experiences.value[5], header: true, duree: true, projet: true, contrib: false, roles: true, missions: false, env: true }
  ]
})
const experiencesPage4 = computed(() => {
  return [
    { exp: experiences.value[6], header: true, duree: true, projet: false, contrib: false, roles: true, missions: false, env: false },
    { exp: experiences.value[7], header: true, duree: true, projet: false, contrib: false, roles: true, missions: false, env: false },
    { exp: experiences.value[8], header: true, duree: true, projet: false, contrib: false, roles: true, missions: false, env: false }
  ]
})
</script>
